.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 100px 20% 25% min-content min-content 100px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 1em;

}

img {
  height: 100px;
  width: 100px;
  grid-column-end: span 3;
}




footer,
header {
  grid-column-start: 1;
  grid-column-end: 13;

}

header div {
  background-color: green;
}


aside {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

nav {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}


main {
  //grid-column-start: 5;
  //grid-column-end: 13;
  //grid-row-start: 2;
  //grid-row-end: 4;
  //same as
  //grid-area: row-start / col-star / row-end / col-end ;
  //grid-area: 2 / 5 / 4 / 13;
  //or
  grid-column: 5 / 13;
  grid-row: 2 / 4;
}


.item {
  //border-style: solid;
}
