<div class="container">
  <header class="item"><div>1</div><div>2</div></header>
  <aside class="item">aside</aside>
  <nav class="item">aamy nav</nav>
  <main class="item">main</main>
    <img class="item1" src="favicon.ico"/>
    <img class="item2" src="favicon.ico"/>
    <img class="item3" src="favicon.ico"/>
    <img class="item4" src="favicon.ico"/>
    <img class="item5" src="favicon.ico"/>
    <img class="item6" src="favicon.ico"/>
    <img class="item7" src="favicon.ico"/>
    <img class="item8" src="favicon.ico"/>
  <footer class="item">footer</footer>
</div>
