<div class="grid-container">
  <header class="grid-item">zzHeader</header>
  <aside class="grid-item flex-side">
    <div class="side-item">1</div>
    <div class="side-item">2</div>
    <div class="side-item">3</div>
    <div class="side-item">4</div>
  </aside>
  <main class="grid-item flex-main">
    <div class="main-item">1</div>
    <div class="main-item">2</div>
    <div class="main-item">3</div>
    <div class="main-item">4</div>
    <div class="main-item">5</div>
    <div class="main-item">6</div>
    <div class="main-item">7</div>
  </main>
  <footer class="grid-item">Footer</footer>
</div>
