.grid-container {  //just horizontal grid no columns
  display: grid;
  height: 100%;
  grid-template-columns: [left-edge] 200px [middle] auto [right-edge];
  grid-template-rows: [header-start] 50px 50px [header-end body-start] auto [body-end footer-start] 100px [footer-end];
  row-gap: 10px;
  column-gap: 20px;
  margin: 10px;
}
.grid-item {
  //border-style: solid;
}

header {
  grid-row-start: header-start;
  grid-row-end: header-end;
  align-self: center;
  justify-self: center;
}

footer,
header {
  grid-column-start: left-edge;
  grid-column-end: right-edge;
}

footer {
  margin-bottom: 10px;
}


aside {
  margin-left: 40px;
}

main {
  margin-right: 15%;
}

.flex-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.main-item {
  height: 200px;
  line-height: 200px;
  width: 30%;
  font-weight: bold;
  font-size: xx-large;
  background-color: lightblue;
  text-align: center;
  border-style: solid;
  box-shadow: rgba(0,0,0,.5);
}

.flex-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-item {
  height: 100px;
  line-height: 100px;
  width: 80%;
  margin-left: 10%;
  font-weight: bold;
  background-color: yellowgreen;
  text-align: center;
  border-style: solid;
  box-shadow: rgba(0,0,0,.5);
}

.side-item:nth-child(1) {
  margin-top: 20px;
}


