.grid-container {
  display: grid;
  grid: "header" 5em
         "nav" 5em
         "main" 20em
         "aside" 10em
         "footer" 5em
          /
          1fr;
        justify-items: center;
}

.grid-item {
  background-color: aliceblue;
  width: 100%;
  text-align: center;
}

header { grid-area: header}
nav { grid-area: nav;}
main { grid-area: main;}
aside { grid-area: aside;}
footer { grid-area: footer;}

@media screen and (min-width: 600px){
  .grid-container {
    grid: "header header" 5em
         "nav main" 20em
         "aside aside" 10em
         "footer footer" 5em
          /
          1fr 2fr;
    justify-items: center;
  }
}

@media screen and (min-width: 800px){
  .grid-container {
    grid: "header header header" 5em
         "nav main aside" 20em
         "footer footer footer" 5em
          /
          1fr 3fr 1fr;
    justify-items: center;
  }
}


