<div class="grid-container">
  <header class="grid-item">Header</header>
  <nav class="grid-item">
    nav
  </nav>
  <main class="grid-item">
      main
  </main>
  <aside class="grid-item">aside</aside>
  <footer class="grid-item">Footer</footer>
</div>
