<div class="welcome-page">
  <div class="welcome-header">
    <h1>header</h1>
  </div>
  <div class="welcome-main">
    <div class="main-container">
      <div class="sidebar-flex-item">
        <h3>sidebar</h3>
      </div>
      <div class="main-flex-item">
        <div class="box"><h2>You1</h2><div>me</div><div>more</div></div>
        <div class="box"><h2>You2</h2><div>me</div><div>more</div></div>
        <div class="box"><h2>You3</h2><div>me</div><div>more</div></div>
        <div class="box"><h2>You4</h2><div>me</div><div>more</div></div>
        <div class="box"><h2>You5</h2><div>me</div><div>more</div></div>
        <div class="box"><h2>You6</h2><div>me</div><div>more</div></div>
      </div>
    </div>
  </div>
  <div class="welcome-footer">
    <h1>footer</h1>
  </div>
</div>
