div {
  border-style: solid;
}

.welcome-page {
  display: flex;
  flex-flow: column;
  height: 95%;
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
}

.welcome-header {
  height: 50px;
}

.welcome-main{
  margin-left: 2%;
  margin-right: 2%;
  height: 95%;
}

.welcome-footer {
  height: 5%;
}

.main-container {
  display: flex;
  flex-direction: row;
  //flex-flow: row;
  height: 100%;
  width: 100%;
}

.sidebar-flex-item {
  width: 200px;
}

.main-flex-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-content: center;
}

.box {
  display: flex;
  height: 100px;
  width: 100px;
  flex-direction: column;
  background-color: red;
  align-items: center;
  gap: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.7);
}

.more {
  flex-basis: 100%;
  align-self: center;
}

.box:nth-child(1) {
  flex-basis: 30%;
}

.box h2 {
  margin: 0;
}
.box div {
  font-weight: bold;
}



.welcome-footer {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .main-container {
    flex-flow: wrap;
    background-color: yellowgreen;
  }
  .sidebar-flex-item {
    width: 100%;
  }

}


