<div class="fflex-container" fxLayoutGap="20px">
  <div class="fflex-item">1</div>
  <div class="fflex-item">2</div>
  <div class="fflex-item">3</div>
  <div class="fflex-item">4</div>
  <div class="fflex-item">5</div>
  <div class="fflex-item">6</div>
  <div class="fflex-item">7</div>

</div>
