


.fflex-item {
  width: 200px;
  height: 150px;

  margin-top: 10px;
  background-color: red;
  font-weight: bold;
  border-style: solid;
  text-align: center;
  font-size: 3em;
  line-height: 150px;
}


@media screen and (max-width: 800px) {

  .fflex-container {
    display: flex;
    flex-flow: column;
  }

}


@media screen and (min-width: 1000px) {

  .fflex-container {
    display: flex;
    flex-flow: nowrap;
  }

  .fflex-item {
   background-color: yellowgreen;
  }

}
