<div class="row header">
  <div class="col-sm-3">
    <div class="title"></div>
  </div>
  <button mat-button routerLink="product" >Product</button>
  <button mat-button routerLink="gridAgain" >Grid Again</button>
  <button mat-button routerLink="grid" >Grid</button>
  <button mat-button routerLink="gridArea" >Grid Area (Easiest)</button>
  <button mat-button routerLink="responsiveGrid" >Responsive Grid</button>
    <button mat-button routerLink="login">Login</button>
    <button mat-button [matMenuTriggerFor]="search">Search</button>
    <mat-menu #search="matMenu">
      <button mat-menu-item routerLink="search/movie" >Movie</button>
      <button mat-menu-item routerLink="search/people" >People</button>
    </mat-menu>

</div>
