<div class="container">
  <header class="containerItem">Welcome to hear</header>
  <aside class="containerItem">This is my sidebar</aside>
  <main class="containerItem">
    <div class="mainItem">1</div>
    <div class="mainItem">2</div>
    <div class="mainItem">3</div>
    <div class="mainItem">4</div>
    <div class="mainItem">5</div>
    <div class="mainItem">6</div>
    <div class="mainItem">7</div>
  </main>
  <div class="adds">adds</div>
  <footer class="containerItem">footer</footer>
</div>
