.container {
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 100px 3fr 3fr 1fr;
  grid-template-rows: 200px auto 100px;
  grid-template-areas: "header header header header header "
                        "aside aside main main adds"
                        "footer footer footer footer footer";
  grid-gap: 1em;
}

.containerItem {
 background-color: lightblue;
  height: 100%;
  width: 100%;
  text-align: center;
}

header {
  grid-area: header;
}

aside {
  margin-left: 20px;
  grid-area: aside;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  grid-area: main;
  gap: 20px;
  margin: 20px;

}

.adds {
  grid-area: adds;
}

footer {
  grid-area: footer;
}

.mainItem {
  height: 200px;
  width: 300px;
  border-style: solid;
  text-align: center;
  line-height: 200px;
  font-size: xx-large;
}


